body {
    background-color: rgb(85, 174, 243);
    color: azure;
    font-family: Arial, Helvetica, sans-serif
}
.formulario{
    margin-left: 9cm;
    margin-top: 15px;
    width: 18cm;
    height: 8cm;
}
.nome{
    width: 7cm;
    margin-left: 7px;
    margin-top: 10px;
}
.botao{
    width: 9cm;
    height: 2cm;
    font-size: 30px;
    background-color: blanchedalmond;
    border: 1px solid black;
}
.direita {
   margin-left: 10cm;
   margin-top: -1.85cm;
}
#sexo {
    width: 7cm;
    height: 45px;
    margin-left: 6px;
    margin-top: 24px;
}
#sexo1 {
    width: 7cm;
    height: 0.8cm;
    margin-left: 6px;
    margin-top: 10px;
    border-radius: 2px;
    color: black;
    background: blanchedalmond;
}
#email{
    width: 7cm;
    margin-left: 7px;
}
#telefone {
    margin-left: 10.2cm;
    margin-top: -1.85cm;
}
#data{
    width: 4cm;
    margin-left: 7px;
}
#titulo{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: black;
}
label {
    font-size: 1em;
    margin-top: 5cm;
    font-size: bold;
}
input{
    height: 0.65cm;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    color: black;
    background: blanchedalmond;
}